name: Slash Command Dispatch
on:
  issue_comment:
    types: [created]

env:
  pull_request_commands_list: |
    help
    frontend
    ff
    git
    jira
    docker

  issue_commands_list: |
    help
    jira

jobs:
  slashCommandDispatch:
    if: startsWith(github.event.comment.body, '/')
    timeout-minutes: 1
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/debug-action@cd1afbd7852b7ad7b1b7a9a1b03efebd3b0a1820 # v3.0.0

      - name: "React to comment"
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4
        with:
          token: ${{ secrets.GIT_PAT }}
          comment-id: ${{ github.event.comment.id }}
          reactions: eyes

      - name: "Validate command"
        id: determine_command
        uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7
        env:
          COMMANDS_LIST: ${{ github.event.issue.pull_request && env.pull_request_commands_list || env.issue_commands_list }}
        with:
          github-token: ${{ secrets.GIT_PAT }}
          script: |
            const body = context.payload.comment.body.toLowerCase().trim();
            const commands_list = process.env.COMMANDS_LIST.split("\n");
            console.log(commands_list);
            const command = body.replace(/^\/+/, '').split(/\s+/)[0];
            core.setOutput('command', command);            
            core.setOutput('command-state', commands_list.includes(command) ? 'known' : 'unknown');

      - name: "Slash Command Dispatch"
        id: scd_issues
        if: steps.determine_command.outputs.command-state == 'known'
        uses: peter-evans/slash-command-dispatch@13bc09769d122a64f75aa5037256f6f2d78be8c4 # v4
        with:
          token: ${{ secrets.GIT_PAT }}
          reaction-token: ${{ secrets.GIT_PAT }}
          issue-type: ${{ github.event.issue.pull_request && 'pull-request' || 'issue' }}
          reactions: true
          commands: ${{ github.event.issue.pull_request && env.pull_request_commands_list || env.issue_commands_list }}

      - name: "Edit comment with error message"
        if: steps.determine_command.outputs.command-state != 'known'
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4
        with:
          token: ${{ secrets.GIT_PAT }}
          comment-id: ${{ github.event.comment.id }}
          body: |
            > '/${{ steps.determine_command.outputs.command }}' is an unknown ${{ github.event.issue.pull_request && 'pull-request' || 'issue' }} command.
            > See '/help'
          reactions: confused
